* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 200px;
  height: 100%;
   margin: 20%;
   display: flex;
   gap: 10px;
   background-color: #861919;

}

.quadrado {
background-color: blueviolet;
width: 100px;
height: 100%;
}

.body {
  background-color: blueviolet;
}